@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:wght@200;300;400&display=swap');
.startpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
    background-image: url("./Image/earth-cartoon.png");
    background-repeat: no-repeat;
    background-size: contain;

  
}

.startpage h1 {
  display: inline-block;
  font-family: 'Ms Madi', cursive;
  font-family: 'Poppins', sans-serif;
  background-color: #c9d0fc4b;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 50%;
}

/* .startpage p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
} */

.startpage button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s ease;
}

.startpage button:hover {
  background-color: #3e8e41;
}

.start-buttons{
  display: flex;
  justify-content: center;
  margin: 22px;
  padding: 10px;
}

@media screen and (max-width:672px){
  .start-buttons{
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: auto;
  }

  .startpage h1{
    font-size: 3rem;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: auto;
  }
}

body {
  background-color: #e4e4e4;
}

div {
  box-sizing: border-box;
}

.timer {
  width: 70px;
  margin: 12px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 30px;
  font-weight: 700;
}

.time-up h1{
    text-align: center; 
    margin-top: 50px; 
    position: absolute; 
    color: red;
    top: 50%; 
    left: 50%; 
    font-size: 3rem;
    transform: translate(-50%, -50%); 
  
}

.quiz {
  width: 80%;
  margin: 0 auto;
}

.question {
  width: 100%;
  background-color: #0062da;
  color: white;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 12px;
}

.results {
  background-color: #fff;
  height: 300px;
  text-align: center;
}

.congratulations {
  background-color: #0094da;
  padding: 20px;
  font-size: 36px;
  color: #fff;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  width: 48%;
  background: #0062da;
  border: 1px solid #ffffff9b;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  border-radius: 12px;
}

.answer:hover{
  background: #0a3b78;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}


.answer-letter {
  font-size: 30px;
  background-color: #074fa8;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.answer-text {
  font-weight: 600;
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: 20px;
}

.correct-answer {
  border: 2px solid #1ea55b;
}

.correct-answer .answer-letter {
  background: #1ea55b;
}

.wrong-answer {
  border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
  background: #dc0a0a;
}

.buttons{
  display: flex;
}
.next-button, .skip-button {
  position: relative;
  margin: 0 auto;
  color: #fff;
  background: #0b0e21;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.skip-button{
  background: #081250;
 
}

.score {
  background: #fff;
  color: 000;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled-answer {
  pointer-events: none;
}

/* PROGRESS BAR */

.progress {
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #007aff;
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
  .question{
      width: 100%;
      height: 60px;
  }
  .answers{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
    height: 60px;
  }

  .answer{
    width: 100%;
  }

  .timer{
    left: 40px;
  }
}

@media screen and (max-width: 1050px) {
  .question{
      width: 100%;
      height: 80px;
  }


  .buttons{
    display: block;
    margin-left: 12px;
  }

  .score{
    margin-top: 73px;
  }
}
